.content {
	width: 66.6%;
	margin: 0 auto;
	padding-top: 25px;
}

.content h1 {
	font-size: 26px;
	color: #282828;
	font-weight: 100;
	margin: 25px 0;
}

.content .p1 {
	font-size: 14px;
	position: relative;
	padding-left: 50px;
	line-height: 2.2;
	color: #aaa;
	margin-bottom: 25px;
}

.content .p1 span:nth-child(1) {
	position: absolute;
	top: 15px;
	left: 0;
	display: block;
	content: " ";
	width: 37px;
	height: 1px;
	background: #dadada;
}

.content .p1 span:nth-child(2) {
	color: #181818;
}

.content .p2 {
	font-size: 16px;
	line-height: 1.5;
	color: #888;
	margin-bottom: 25px;
}

.content img {
	width: 100%;
	margin-bottom: 25px;
}

.content .imgs {
	width: 100%;
}