.content {
	width: 100%;
	background: #eee;
	padding-top: 100px;
	position: relative;
}

.content .goback {
	position: absolute;
	border-width: 10px 10px 10px 0;
	border-color: #eee #fff;
	border-style: solid;
	top: 30px;
	right: 100px;
}

.content ul {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 60px;
	overflow: hidden;
}

.content ul li:nth-child(1) {
	width: 587px;
	height: 587px;
	background-size: 100% 100%;
	background-image: url(../image/MIIMOO_米墨_-_趣味生活杂货_–/shop01.png);
	background-repeat: no-repeat;
	float: left;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.content ul li:nth-child(1) span {
	position: absolute;
	height: 25%;
	width: 25%;
	border-radius: 50%;
	border: 5px solid #fff;
	background-size: 1500px 1500px;
	background-image: url(../image/MIIMOO_米墨_-_趣味生活杂货_–/shop01.png);
}

.content ul li:nth-child(2) {
	margin: 0 auto;
	width: 330px;
	float: right;
	margin-top: 40px;
}

.content ul li:nth-child(2) h1 {
	font-size: 26px;
	font-weight: 100;
	line-height: 1.2;
}

.content ul li:nth-child(2) .p1 {
	font-size: 20px;
	line-height: 1;
	color: #008800;
	padding: 24px 0 24px;
}

.content ul li:nth-child(2) .p2 {
	font-size: 16px;
	line-height: 1.8;
	color: #777777;
}

.content ul li:nth-child(2) .jiaru {
	display: block;
	height: 40px;
	width: 317px;
	color: #fff;
	background: #181818;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	margin-top: 30px;
}

@media only screen and (max-width:1030px) {
	.content ul {
		width: 100%;
	}
	.content ul li:nth-child(1) {
		float: none;
		width: 60%;
	}
	.content ul li:nth-child(2) {
		float: none;
	}
}